---
http_interactions:
- request:
    method: get
    uri: http://testnet.helloblock.io/v1/faucet?type=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"-14435580"'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":"success","data":{"privateKeyWIF":"93VYQzKJa9thXJH578JVqDZCDw2ooF7go1eGqsYXGrHNE8FrJNv","privateKeyHex":"fb300959bf665702d0bed40b457d926665f9591e31a373de2976e27209770ec4","address":"mjmPZHJXHqYrkShakn1eeLZGsS8JB9pERs","hash160":"2e9b6a2ab986fa4cc84e91cb0e853c6f177fb6f2","faucetType":3,"unspents":[{"confirmations":34614,"blockHeight":192769,"txHash":"b37ed9a078228d5e8e623eb2192ea46e355f5ef81a32c75fe5e052362bf45dc9","index":0,"scriptPubKey":"76a9142e9b6a2ab986fa4cc84e91cb0e853c6f177fb6f288ac","type":"pubkeyhash","value":50000,"hash160":"2e9b6a2ab986fa4cc84e91cb0e853c6f177fb6f2","address":"mjmPZHJXHqYrkShakn1eeLZGsS8JB9pERs"},{"confirmations":34614,"blockHeight":192769,"txHash":"74fc9b0adc9ad303c4c71b6cc0657ada56bccc6220047a57e8a43d51271c5333","index":0,"scriptPubKey":"76a9142e9b6a2ab986fa4cc84e91cb0e853c6f177fb6f288ac","type":"pubkeyhash","value":100000,"hash160":"2e9b6a2ab986fa4cc84e91cb0e853c6f177fb6f2","address":"mjmPZHJXHqYrkShakn1eeLZGsS8JB9pERs"},{"confirmations":34614,"blockHeight":192769,"txHash":"a2fd4266e69467550b736342a25bfb940f64d30e6942024de292871f8873ec1f","index":0,"scriptPubKey":"76a9142e9b6a2ab986fa4cc84e91cb0e853c6f177fb6f288ac","type":"pubkeyhash","value":10000,"hash160":"2e9b6a2ab986fa4cc84e91cb0e853c6f177fb6f2","address":"mjmPZHJXHqYrkShakn1eeLZGsS8JB9pERs"}]}}'
  recorded_at: Thu, 01 May 2014 02:36:09 GMT
recorded_with: VCR 2.9.0
