---
http_interactions:
- request:
    method: get
    uri: http://testnet.helloblock.io/v1/addresses/1DQN9nopGvSCDnM3LH1w7j36FtnQDZKnej
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":"success","data":{"address":{"balance":0,"confirmedBalance":0,"txsCount":0,"confirmedTxsCount":0,"address":"msvKSqto5wsSztpf3qzJweFR7tP76etSew","hash160":"880cbba2942bc34739fbd2d8d792a6ce607ef3b9"}}}'
  recorded_at: Sun, 16 Mar 2014 17:22:21 GMT
recorded_with: VCR 2.8.0
