---
http_interactions:
- request:
    method: get
    uri: http://mainnet.helloblock.io/v1/wallet?addresses%5B0%5D=1DQN9nopGvSCDnM3LH1w7j36FtnQDZKnej&unspents=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"-822706914"'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":"success","data":{"summary":{"balance":0,"confirmedBalance":0,"txsCount":0,"confirmedTxsCount":0,"totalReceivedValue":null,"confirmedReceivedValue":null},"addresses":[{"balance":0,"confirmedBalance":0,"txsCount":0,"confirmedTxsCount":0,"address":"1DQN9nopGvSCDnM3LH1w7j36FtnQDZKnej","hash160":"880cbba2942bc34739fbd2d8d792a6ce607ef3b9","type":"pubkeyhash"}]}}'
  recorded_at: Thu, 01 May 2014 02:37:20 GMT
recorded_with: VCR 2.9.0
