---
http_interactions:
- request:
    method: post
    uri: http://testnet.helloblock.io/v1/faucet/withdrawal
    body:
      encoding: UTF-8
      string: '{"toAddress":"mzPkw5EdvHCntC2hrhRXSqwHLHpLWzSZiL","value":100000,"post":true}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":"success","data":{"value":100000,"fromAddress":"mpRZxxp5FtmQipEWJPa1NY9FmPsva3exUd","toAddress":"mzPkw5EdvHCntC2hrhRXSqwHLHpLWzSZiL","txHash":"da29e926c4495bdd7ba3931e93070ad96b7b17b607510807ae95ec12f29d7311"}}'
  recorded_at: Thu, 01 May 2014 02:36:10 GMT
recorded_with: VCR 2.9.0
