---
http_interactions:
- request:
    method: post
    uri: http://testnet.helloblock.io/v1/faucet/withdrawal
    body:
      encoding: UTF-8
      string: '{"toAddress":"mzPkw5EdvHCntC2hrhRXSqwHLHpLWzSZiL","value":100000}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":"success","data":{"value":100000,"fromAddress":"mpRZxxp5FtmQipEWJPa1NY9FmPsva3exUd","toAddress":"mzPkw5EdvHCntC2hrhRXSqwHLHpLWzSZiL","txHash":"d6b824a37c608e45e05ad7a2810002ce000225581fd053fe52d70568884f3fef"}}'
  recorded_at: Mon, 14 Apr 2014 04:46:06 GMT
recorded_with: VCR 2.8.0
