---
http_interactions:
- request:
    method: post
    uri: http://testnet.helloblock.io/v1/faucet/withdrawal
    body:
      encoding: UTF-8
      string: '{"body":{"toAddress":"1DQN9nopGvSCDnM3LH1w7j36FtnQDZKnej","amount":100000}}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":"fail","message":"amount or toAddress is missing"}'
  recorded_at: Tue, 18 Mar 2014 06:14:30 GMT
recorded_with: VCR 2.8.0
